<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Quotes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <a href="/logout" style="position: fixed; right: 2rem; top: 1rem;"><button class="btn btn-primary">Logout</button></a>
    <a href="/quotes" style="position: fixed; right: 8rem; top: 1.5rem;">Back</a>
    <div class="container">
        <h1>{{selectedUser.first_name}} {{selectedUser.last_name}}'s Quotes</h1>
        <div class="row">
            <div class="quotes col-5 mt-3">
                {% for quote in user_quotes %}
                <div class="quote-box border p-2 mb-3">
                    {{quote.author}}: "{{quote.content}}"
                </div>
                {% endfor %}
        </div>
    </div>
</body>
</html>